.wrapper {
    min-width: 20rem;
    background-image: url("../Components/images/TakeMeToWork.jpg");
    background-size: cover;
    overflow: scroll;
    height: 100vh;
}
.container {
    margin: auto;
    /*box-shadow: 0 0 0.625rem 0.5rem rgba(0, 0, 0, 0.15);*/
}
.override {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #17673e;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .mainApp {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        display: flex;
    }
}