.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: var(--family);
    /*background-color: var(--serch);*/
    padding: 1.5rem 0.75rem 0;
    /*position: fixed;*/
}

.search__form {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.search__input {
    font-size: var(--medium);
    padding: 1rem 0.75rem 1.188rem;
    background-color: #98c41e;
    border: none;
    color: #4c4c4c;
    margin-right: 0.5rem;
    flex-basis: 70%;
    border-radius: 6px;
}

.search__btn {
    padding: 0.75rem;
    border: none;
    background-color: #964e06;
    color: var(--white);
    text-transform: uppercase;
    border-radius: 1rem;
    flex-basis: 20%;
    font-size: 1.6rem;
    cursor: pointer;
}
.search__btn:hover {
    background-color: #ff0003;
}

.chart {
    flex-basis: 100%;
    display: flex;
}

.chart-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.chart-list__item {
    padding: 1rem 1.5rem;
    border-bottom: 0.1875rem solid transparent;
    text-transform: uppercase;
    color: var(--white);
}

.chart-list__item:hover {
    background-image: linear-gradient(0deg, rgb(33, 33, 33) 0%, rgb(38, 38, 38) 100%);
    border-bottom: 0.1875rem solid var(--red);
}